.first, .second {
    width: 100%;
    height: 2rem;
    background-color: orange;
}
.third {
    width: 100%;
    height: 2rem;
    background-color: greenyellow;
}
.fourth, .fiveth, .sixth {
    width: 100%;
    height: 2rem;
    background-color: blue;
}
.seventh, .eight, .nineth, .tenth {
    width: 100%;
    height: 2rem;
    background-color: grey;
}