a{
    text-decoration: none;
    display: block;
    top: 50%;
    
    
}

ul {
   list-style-type: none; 
}

ul > li {
    width: 50px;
    height: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    float: left;
    
    
}

a:hover{
   color: white;
}


ul > li:hover {
    background-color: black;
   
}
