a:hover {
    font-weight: bold;
}
ul > li {
    width: 100px;
    height: 10px;
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
}
li > a {
    color: blue;
    text-align: center;
}

a{
    text-decoration: none;
}